* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/** slide **/
.slide-container {
    & .slide-wrapper {
        width: 100%;
        height: 100%;
        position: fixed;
        transition: transform 0.5s ease;
        transform: translate(0px, 0px);
        & .slide {
            width: 100%;
            height: 100%;
            &:nth-child(1) {
                background: black;
            }
            &:nth-child(2) {
                background: blue;
            }
            &:nth-child(3) {
                background: black;
            }
            &:nth-child(4) {
                background: yellow;
            }
        }
    }
    & .slide-pagination {
        list-style: none;
        position: fixed;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        & li {
            border: 5px solid white;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: block;
            position: relative;
            margin-bottom: 15px;
            cursor: pointer;
            &.active {
                background: white;
            }
        }
    }
}

/** 文字烟幕效果 **/
.smoky-word {
    display: inline-block;
    color: transparent;
    text-shadow: 0 0 0 whitesmoke;
    font: 5vw/30px "Finger Paint";
    animation: smoky-word 5s infinite both;
}

@keyframes smoky-word {
    60% {
        text-shadow: 0 0 40px whitesmoke;
    }
    to {
        transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
        text-shadow: 0 0 20px whitesmoke;
        opacity: 0;
    }
}

/** 磨砂背景 **/
.frosted-glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        backdrop-filter: blur(150px);
        z-index: 1;
    }

    & .content {
        position: relative;
        z-index: 2;
        color: #fff;
        font-size: 30px;
    }

    & .bg {
        & .g-polygon {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: .5;

            &.g-polygon-1 {
                background: #ffee55;
                clip-path: polygon(0 10%, 30% 0, 100% 40%, 70% 100%, 20% 90%);
            }

            &.g-polygon-2 {
                background: #E950D1;
                clip-path: polygon(10% 0, 100% 70%, 100% 100%, 20% 90%);
            }

            &.g-polygon-3 {
                background: rgb(87, 80, 233);
                clip-path: polygon(80% 0, 100% 70%, 100% 100%, 20% 90%);
            }
        }
    }
}

/** 切片动画 **/
.sprite-animation {
    width: 256px;
    height: 256px;
    background: url('../images/sprite.png');
    animation: sprite-animation .6s steps(6, end) infinite;
    display: inline-block;
}

@keyframes sprite-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -1536px 0;
    }
}

/** 按钮 平行四边形 **/
.btn {
    width: 100px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    color: black;
    position: relative;
    text-align: center;

    &.parallelogram {
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: #03f463;
            transform: skewX(15deg);
            z-index: -1;
        }
    }
}

/** blur 滤镜混合 contrast 滤镜产生融合效果 **/
.filter-mix {
    width: 300px;
    height: 200px;
    filter: contrast(20);
    background: #fff;
    display: inline-block;

    &::before {
        content: "";
        position: absolute;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background: #333;
        top: 40px;
        left: 40px;
        z-index: 2;
        filter: blur(6px);
        box-sizing: border-box;
        animation: filterBallMove 4s ease-out infinite;
    }

    &::after {
        content: "";
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: #3F51B5;
        top: 60px;
        right: 40px;
        z-index: 2;
        filter: blur(6px);
        animation: filterBallMove2 4s ease-out infinite;
    }
}

@keyframes filterBallMove {
    50% {
        left: 140px;
    }
}

@keyframes filterBallMove2 {
    50% {
        right: 140px;
    }
}

/** 文字快闪动画，用了blur() 滤镜和 contrast() 滤镜产生的融合效果 **/
.flash-text {
    position: relative;
    width: 470px;
    height: 240px;
    background: #000;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 120px;
    filter: contrast(15);
    display: inline-block;
    & .word{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: flash-text 8s infinite ease-in-out;
        white-space: nowrap;
        $speed: 8s;
        $wordCount: 4;
        @for $i from 0 through $wordCount {
            &:nth-child(#{$i + 1}) {
                $delay:($speed / ($wordCount + 1) * $i) - $speed;
                -webkit-animation-delay: $delay;
                animation-delay: $delay;
            }
        }
    }
}
@keyframes flash-text {
    0%,
    5%,
    100% {
        filter: blur(0px);
        opacity: 1;
    }
    50%,
    80% {
        filter: blur(80px);
        opacity: 0;
    }
}

/** 进度条 **/
.progress {
    width: 240px;
    height: 25px;
    border-radius: 25px;
    background: #eee;
    display: inline-block;
    & .bar {
        width: 50%;
        height: inherit;
        border-radius: 25px 0 0 25px;
        background: #0f0;
        transition: width .2s linear;
    }
    /** 圆弧形进度条 **/
    &.circle {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        background: conic-gradient(#FFCDB2 0, #FFCDB2 25%, #B5838D 25%, #B5838D);
        mask: radial-gradient(transparent, transparent 50%, #000 51%, #000 0);
        -webkit-mask: radial-gradient(transparent, transparent 50%, #000 51%, #000 0);
    }
    /** 球形进度条 **/
    &.sphere {
        width: 220px;
        height: 220px;
        border: 5px solid rgb(118, 218, 255);
        border-radius: 50%;
        overflow: hidden;
        background: transparent;
        filter: none;
        padding: 5px;
        position: relative;
        & .wrapper {
            overflow: hidden;
            position: relative;
            width: 200px;
            height: 200px;
            background-color: rgb(118, 218, 255);
            border-radius: 50%;
            & .bar {
                position: absolute;
                width: 200px;
                height: 200px;
                top: 0px;
                left: 0px;
                animation: sphere-progress-change 12s infinite linear;
                background: none;
                border-radius: initial;
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    width: 400px;
                    height: 400px;
                    top: 0;
                    left: 50%;
                    background-color: rgba(255, 255, 255, .6);
                    border-radius: 45% 47% 43% 46%;
                    transform: translate(-50%, -70%) rotate(0);
                    animation: sphere-progress-rotate 7s linear infinite;
                    z-index: 1;
                }
                &::after {
                    border-radius: 47% 42% 46% 44%;
                    background-color: rgba(255, 255, 255, .8);
                    transform: translate(-50%, -70%) rotate(0);
                    animation: sphere-progress-rotate 9s linear -4s infinite;
                    z-index: 2;
                }
            }
        }
        & p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 36px;
            color: #000;
            z-index: 10;
        }
    }
}

@keyframes sphere-progress-rotate {
    to {
        transform: translate(-50%, -70%) rotate(360deg);
    }
}

@keyframes sphere-progress-change {
    from {
        top: 80px;
    }
    to {
        top: -120px;
    }
}

/** 波浪效果 利用一个放大了很多倍椭圆形,视野之外的图形都overflow: hidden ，只留下了一条边的视野，并且增加了一些相应的 transform 变换 **/
.wave {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 100px;
    background-color: #76daff;
    overflow: hidden;
    &::before, &::after {
        content: '';
        display: inline-block;
        width: 400px;
        height: 400px;
        border-radius: 45%;
        background: #fff;
        position: absolute;
        transform: translate(-25%, 0%);
        animation: wave-rotate 10s linear infinite;
    }
    &::before {
        bottom: 30px;
    }
    &::after {
        opacity: .5;
        border-radius: 47%;
        bottom: 25px;
    }
    & h2 {
        position: relative;
        z-index: 2;
        color: #000;
        text-align: center;
        line-height: 100px;
    }
}

@keyframes wave-rotate {
    0% {
        transform: translate(-25%, 0%) rotateZ(0deg);
    }
    50% {
        transform: translate(-25%, -2%) rotateZ(180deg);
    }
    100% {
        transform: translate(-25%, 0%) rotateZ(360deg);
    }
}

/** 电池充电效果 **/
.battery-container {
    position: relative;
    width: 140px;
    margin: auto;
    display: inline-block;
    & .header {
        position: absolute;
        width: 26px;
        height: 10px;
        left: 50%;
        top: 0;
        transform: translate(-50%, -10px);
        border-radius: 5px 5px 0 0;
        background: rgba(255, 255, 255, .88);
    }
    & .battery-copy {
        position: absolute;
        top: 0;
        left: 0;
        height: 220px;
        width: 140px;
        border-radius: 15px 15px 5px 5px;
        overflow: hidden;
    }
    & .battery {
        position: relative;
        height: 220px;
        box-sizing: border-box;
        border-radius: 15px 15px 5px 5px;
        box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.22);
        background: #fff;
        z-index: 1;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 80%;
            background: linear-gradient(to bottom, #7abcff 0%, #00BCD4 44%, #2196F3 100%);
            border-radius: 0px 0px 5px 5px;
            box-shadow: 0 14px 28px rgba(33, 150, 243, 0), 0 10px 10px rgba(9, 188, 215, 0.08);
            animation: charging 10s linear infinite;
            filter: hue-rotate(90deg);
        }
    }
    & .wave {
        position: absolute;
        width: 300px;
        height: 300px;
        background: rgba(255, 255, 255, .8);
        border-radius: 45% 47% 44% 42%;
        bottom: 25px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1;
        animation: move 10s linear infinite;
        &:nth-child(2) {
            border-radius: 38% 46% 43% 47%;
            transform: translate(-50%, 0) rotate(-135deg);
        }
        &:nth-child(3) {
            border-radius: 42% 46% 37% 40%;
            transform: translate(-50%, 0) rotate(135deg);
        }
    }
}

@keyframes charging {
    50% {
        box-shadow: 0 14px 28px rgba(0, 150, 136, 0.83), 0px 4px 10px rgba(9, 188, 215, 0.4);
    }

    95% {
        top: 5%;
        filter: hue-rotate(0deg);
        border-radius: 0 0 5px 5px;
        box-shadow: 0 14px 28px rgba(4, 188, 213, .2), 0 10px 10px rgba(9, 188, 215, 0.08);
    }
    100% {
        top: 0%;
        filter: hue-rotate(0deg);
        border-radius: 15px 15px 5px 5px;
        box-shadow: 0 14px 28px rgba(4, 188, 213, 0), 0 10px 10px rgba(9, 188, 215, 0.4);
    }
}

@keyframes move {
    100% {
        transform: translate(-50%, -160px) rotate(720deg);
    }
}

/** huawei 充电效果 **/
.huawei-battery {
    display: inline-block;
    position: relative;
    & .g-number {
        position: absolute;
        width: 300px;
        top: 27%;
        text-align: center;
        font-size: 32px;
        z-index: 10;
        color: #fff;
    }
    & .g-container {
        position: relative;
        width: 300px;
        height: 400px;
        margin: auto;
    }
    & .g-contrast {
        filter: contrast(10) hue-rotate(0);
        width: 300px;
        height: 400px;
        background-color: #000;
        overflow: hidden;
        animation: hueRotate 10s infinite linear;
    }
    & .g-circle {
        position: relative;
        width: 300px;
        height: 300px;
        box-sizing: border-box;
        filter: blur(8px);
        &::after {
            content: "";
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(0);
            width: 200px;
            height: 200px;
            background-color: #00ff6f;
            border-radius: 42% 38% 62% 49% / 45%;
            animation: rotate 10s infinite linear;
        }
        &::before {
            content: "";
            position: absolute;
            width: 176px;
            height: 176px;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background-color: #000;
            z-index: 10;
        }
    }
    & .g-bubbles {
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 100px;
        height: 40px;
        transform: translate(-50%, 0);
        border-radius: 100px 100px 0 0;
        background-color: #00ff6f;
        filter: blur(5px);
    }
    & li {
        position: absolute;
        border-radius: 50%;
        background: #00ff6f;
    }

    @for $i from 0 through 15 {
        & li:nth-child(#{$i}) {
            $width: 15 + random(15) + px;
            left: 15 + random(70) + px;
            top: 50%;
            transform: translate(-50%, -50%);
            width: $width;
            height: $width;
            animation: moveToTop #{random(6) + 3}s ease-in-out -#{random(5000)/1000}s infinite;
        }
    }
}

@keyframes h-rotate {
    50% {
        border-radius: 45% / 42% 38% 58% 49%;
    }
    100% {
        transform: translate(-50%, -50%) rotate(720deg);
    }
}

@keyframes moveToTop {
    90% {
        opacity: 1;
    }
    100% {
        opacity: .1;
        transform: translate(-50%, -180px);
    }
}

@keyframes hueRotate {
    100% {
        filter: contrast(15) hue-rotate(360deg);
    }
}